<html>
<head>

    <!-- Built with angularJS, turfJS, leafletJS, bootstrap, and mapBox -->

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>

    <!-- Turf JS-->
    <script src="js/turf.min.js" charset="utf-8"></script>

    <!-- Leaflet -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

    <!-- Mapbox -->
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Personal Style -->
    <link rel="stylesheet" href="css/style.css" />

</head>

<!-- Start Angular App -->
<body ng-app="myApp" ng-controller="mainController">

  <!-- W&M Logo -->
  <img id="logo" src="img/cipher.png" />

  <!-- Control Bar -->
  <div class="topBar">

    <!-- <button ng-click="startAnimation()">Start Animation</button> -->
    <!-- <button ng-click="stopAnimation()">Stop Animation</button> -->

    <!-- Form to submit new geojson file -->
    <form id="uploadForm" enctype="multipart/form-data" action="upload.py" method="post">
      <span class="btn btn-default btn-file">
          Upload geojson <input id="geojsonFile" type="file">
      </span>
      <input class="btn btn-primary" type="submit" value="Submit" />
    </form>

    <!-- main controls -->
    <span id="speed">{{getSpeed()}}</span>
    <input id="rangeSlider" type="range" min="15" max="500" step="5" name="speed" ng-model="speed" />
    <button class="btn btn-primary" ng-click="startRun('tracked')">Tracked Run</button>
    <button style="margin-left: 3px;" class="btn btn-primary" ng-click="startRun('followed')">Followed Run</button>

  </div>

  <!-- Add marker -->
  <button ng-click="addMarker()">Add Marker</button>

  <!-- Remove marker -->
  <button ng-click="removeMarker()">Remove Marker</button>

  <!-- Map -->
  <div id="map"></div>

</body>
</html>